.header {
  margin: 0 auto;
}

.container__header {
  position: relative;
  height: 100%;
  width: 100%;

  .header--background {
    max-height: 700px;
  }
}

.nav__flex {
  position: absolute;
  top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  color: $color-white;
  font-weight: $font-bold;
  margin: 0 90px;

  h4 {
    letter-spacing: 5px;
  }

  p {
    font-weight: $font-bold;
    letter-spacing: 2.5px;
  }
}

.nav {
  margin: 0 38px;

  a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    color: $color-white;
    opacity: 0.6;
    transition: all 0.3s;
  }

  a:hover {
    opacity: 1;
  }
}

.header__title--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header__title {
  position: absolute;
  width: 80%;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  color: $color-gold;

  .title--first {
    display: block;
    width: 80%;
    text-align: start;
  }

  .title--second {
    display: block;
    width: 80%;
    text-align: end;
  }

  p {
    display: block;
    width: 100%;
  }
  p::after {
    position: absolute;
    content: '';
    display: block;
    width: 20vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-gold;
    height: 0.5vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
  }
}

.discover {
  position: absolute;
  letter-spacing: 5px;
  color: $color-white;
  bottom: 5vw;
  left: 50%;
  transform: translateX(-50%);

  h4 {
    font-weight: $font-regular;
  }
}

.icon {
  position: absolute;
  color: $color-white;
  bottom: 1vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3vw;
  margin-bottom: 1px;
}

@media screen and (min-width: 1000px) {
  .icon {
    font-size: 30px;
  }

  .discover {
    bottom: 50px;
  }
}

@media screen and (min-width: 1990px) {
  .title--first,
  .title--second {
    width: 52%;
  }
}
