$transition: all 0.3s;

$color-black: #000;
$color-white: #FFF;
$color-gold: #BEA67C;

$font-family: 'Source Sans Pro', sans-serif;

$font-bold: 700;
$font-semibold: 600;
$font-regular: 400;
$font-italic: italic;
